/* RESET CSS */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* COLORS */

:root {
  --yellow: #f4d04e;
  --gray-950: #111;
  --gray-500: #6b6b6b;
  --white: #fff;
}

/* TYPOGRAPHY */

.text-preset-1 {
  font-size: 1.5rem; /* 24px */
}
.text-preset-2 {
  font-size: 1rem; /* 16px */
}
.text-preset-3 {
  font-size: 0.875rem; /* 14px */
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
  background-color: var(--yellow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.fw-bold {
  font-weight: 800;
}

/* CARD */
.card {
  max-width: 24rem; /* 384px */
  min-width: 18.75rem; /* 300px */
  padding: 1.5rem; /* 24px */
  background-color: var(--white);
  border-radius: 1.25rem; /* 20px */
  border: 0.0625rem solid var(--gray-950); /* 1px */
  box-shadow: 0.5rem 0.5rem 0rem var(--gray-950);
  display: flex;
  flex-direction: column;
}

.card__image {
  border-radius: 0.625rem; /* 10px */
}

.card__content {
  margin-top: 1.5rem; /* 24px */
}

.card__category {
  font-size: 0.875rem; /* 14px */
  color: var(--gray-950);
  background-color: var(--yellow);
  display: inline-block;
  padding: 0.25rem 0.75rem; /* 4px 12px */
  border-radius: 0.25rem; /* 4px */
}

.card__publication__date {
  font-size: 0.875rem; /* 14px */
  color: var(--gray-950);
  margin-top: 0.875rem; /* 12px */
}

.card__title {
  margin-top: 0.875rem; /* 12px */
}

.card__title a {
  text-decoration: none;
  color: var(--gray-950);
  transition: color 0.2s;
}

.card__title a:hover {
  color: var(--yellow);
}

.card__description {
  margin-top: 0.875rem; /* 12px */
  color: var(--gray-500);
}

.card__author {
  margin-top: 1.5rem; /* 12px */
  display: flex;
  align-items: center;
}

.avatar {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  border-radius: 50%;
  margin-right: 0.875rem; /* 12px */
}

.author {
  font-size: 0.875rem; /* 14px */
  color: var(--gray-950);
}